---
import { basics } from "@/data/cv.json";
const { name, label } = basics;

import "@fontsource-variable/geist";
import "@fontsource/monaspace-neon/300.css";
import "@fontsource/monaspace-neon/400.css";
import "@fontsource/monaspace-neon/500.css";
import "@fontsource/monaspace-radon/400.css";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{name} - CV</title>
  <meta name="description" content={label} />
</head>
