---
import Section from "@/components/Section.astro";

import css from "@/assets/icons/css.svg";
import git from "@/assets/icons/git.svg";

import { skills as SKILLS } from "@/data/cv.json";
import type { Icon } from "@/types/icon";

const ICONS: Icon = {
  git,
  css,
};
---

<Section title="Habilidades">
  <section slot="content">
    {
      SKILLS.map(({ id, name, url }) => {
        const Icon = ICONS[id];
        return (
          <a href={url} target="_blank" rel="noopener noreferrer">
            {Icon && <Icon size="14" class="no-print" />}
            <span>{name}</span>
          </a>
        );
      })
    }
  </section>
</Section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    a {
      display: flex;
      align-items: center;
      vertical-align: middle;
      gap: 4px;
      border-radius: 4px;
      font-size: 12px;
      font-family: "Monaspace Neon", monospace;
      font-weight: 400;
      padding: 3px 8px;
      background: rgba(0, 0, 0, 0.15);
      color: #000;
    }

    a:hover {
      text-decoration: underline;
      background: rgba(0, 0, 0, 0.1);
    }
  }
</style>
