---
import Head from "@/components/Head.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<!doctype html>
<html lang="es" class="">
  <Head />
  <body>
    <main class="app">
      <slot />
    </main>
    <KeyboardManager />
  </body>
</html>

<style>
  body {
    position: relative;
    background-color: #fff;
  }

  .app {
    max-width: 672px;
    margin: 0 auto;
    width: 100%;
    padding: 32px 16px;
  }

  @media (width >= 40rem) {
    .app {
      padding: 62px 16px;
    }
  }

  @media print {
    .app {
      padding: 32px;
      margin: 0 auto;
    }
  }
</style>

<style is:global>
  * {
    min-width: 0;
    font: inherit;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  figure,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    color-scheme: light dark;
    width: 100%;
    margin: 0;
    min-height: 100dvh;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-geist), sans-serif;
    margin: 0;
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  li,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media print {
    h1 .no-print,
    svg {
      display: none;
    }
  }
</style>
